*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    border: 2px solid red;
    display: block;
}
li::marker{
    color: red;
}

div{
    border: 1px solid red;
    width: 200px;
    height: 200px;
    padding: 20px;
   /* margin: 20px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
    margin-right: 5px;
    margin-inline: 10;
    margin-block: 20px;
    margin: 30px 20px 10px 5px; */
    margin: 10px 5px 15px;
    
}